* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 60px;
    margin: 30px;
    color: rgb(150, 47, 170);
}

header p {
    font-size: 20px;
    width: 85%;
    text-align: center;
}

.team-container{
    margin: auto;
    width: 90%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}


.team-card {
    display: flex;
    width: 450px;
    background-color: black;
}

.card-text {
    padding: 25px;
    color: white;
}


img {
    max-height: 150px;
}

.card-text h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.card-text p{
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text p:nth-child(3) {
    color: rgb(147, 211, 248);
}